@model WritingPlatform.Models.WorksViewModel

@{
    ViewBag.Title = "Details";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "commentListFor",
        Url = Url.Action("GetComments")
    };
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2>Learn More</h2>

@using (Ajax.BeginForm(ajax))
{
    @Html.AntiForgeryToken()

    <div class="form-group shadow-textarea">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content,10,40, new { @readonly = "readonly",style="width: 100%; max-width: 100%;",  @class="form-control z-depth-1"  })

        </div>
    </div>


    <div class="form-horizontal">
        <h4>WorksViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("Comment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, " ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Rating", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserId, Enumerable.Range(1, 10)
                 .Select(x => new SelectListItem
                 {
                     Text = x.ToString(),
                     Value = x.ToString()
                 }),"",new { @class = "form-control" })
                @Html.HiddenFor(model=>model.Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оставить отзыв" class = "btn btn-primary" />
            </div>
        </div>

        <div id="commentListFor">

            @Html.Action("GetComments")
        </div>
    </div>
}


