@model IEnumerable<WritingPlatform.Models.WorksViewModel>


@{
    ViewBag.Title = "Все произведения";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "worksListFor",
        Url = Url.Action("GetWorks")
    };
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>Все произведения</h2>
<p>
    @Html.ActionLink("Добавить", "Create",null, new { @class = "btn btn-dark" })
</p>

@using (Ajax.BeginForm(ajax))
{  
        <input class="form-control d-inline" name="filter" value="@ViewBag.filter" type="search" placeholder="Введите название для поиска">
        <button class="btn btn-outline-success" type="submit">Найти</button>
        
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateOfPublication)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GenreId)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="worksListFor">
                @Html.Action("GetWorks")
            </tbody>
        </table>

}
