<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            
                @Html.ActionLink("Writers", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("О программе", "About", "Home",null, new { @class = "nav-link" })</li>
                    <li class="nav-item ">@Html.ActionLink("Контакт", "Contact", "Home",null, new { @class = "nav-link" })</li>
                    <li class="nav-item ">@Html.ActionLink("Писатели", "Index", "Users",null, new { @class = "nav-link" })</li>
                    <li class="nav-item ">@Html.ActionLink("Произведения", "Index", "Works",null, new { @class = "nav-link" })</li>
                    <li class="nav-item ">
                        @{
                            string login = HttpContext.Current.User.Identity.Name;
                            if (!string.IsNullOrEmpty(login))
                            {
                                @Html.ActionLink("Личный кабинет", "PersonalProfile", "Users",null, new { @class = "nav-link" })

                            }
                        }
                    </li>
                    <li class="nav-item ">
                        @{
                            string login1 = HttpContext.Current.User.Identity.Name;
                            if (!string.IsNullOrEmpty(login1))
                            {
                                @Html.ActionLink(HttpContext.Current.User.Identity.Name + " | Logout", "Logout", "Users",null, new { @class = "nav-link" })
                                
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


